// Colors
$primary : red;
$primary-smooth : red;

$secondary : orange;
$secondary-smooth : orange; 

$thirdy : blue;
$thirdy-smooth : blue;

// Font size
$big-title : 1.8rem;
$medium-title : 1.5rem;
$small-title : 1.2rem;

// Fonts
    // Title
    $title-regular: 'forum regular';

    // Content
    $content-font-thin: 'inter thins';
    $content-font-light: 'inter light';
    $content-font-regular : 'inter regular';
    $content-font-bold: 'inter bold';
    $content-font-extrabold: 'inter extrabold';